<div id="template-modal-edit" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Template</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="form-body">
                        <div class="form-group">

                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" ng-model="$parent.vm.selTemplateObj.name" />

                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-group">

                            <label for="name">Template Type</label>
                            <!--<input type="text" id="name" class="form-control" ng-model="$parent.vm.selTemplateObj.template_type" />-->
                            <select name="" id="" class="form-control" ng-model="$parent.vm.selTemplateObj.template_type" ng-options="template.value as template.key for template in templates"></select>

                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-group">

                            <label for="name">Templatable Type</label>
                            <!--<input type="text" id="name" class="form-control" ng-model="$parent.vm.selTemplateObj.templatable_id" />-->
                            <select name="" id="" class="form-control" ng-model="$parent.vm.selTemplateObj.template_location" ng-options="template.value as template.key for template in types"></select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="name">Status</label>
                        <select name="" id="" class="form-control" ng-model="$parent.vm.selTemplateObj.status">
                                <option value="draft">Draft</option>
                                <option value="published">Published</option>
                                <option value="archived">Archived</option>
                            </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <!--<button type="button" class="btn green" ng-click="closeModal()">Edit</button>-->
            </div>
        </div>
    </div>
</div>