<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="fieldModel.name" disabled />
        <!--<input type="text" class="form-control" ng-model="$parent.$parent.vm.form.highlights[hl.counter]" />-->
        <span class="input-group-addon" style="cursor: pointer" data-original-title="Remove" data-toggle="tooltip" title="Edit" ng-click="openModal()">
            <i class="fa fa-edit font-blue" ></i>
        </span>
        <span class="input-group-addon" style="cursor: pointer" data-original-title="Remove" data-toggle="tooltip" title="Remove" ng-click="remove($event.currentTarget)">
            <i class="fa fa-close font-red" ></i>
        </span>
    </div>
</div>