<tr class="discount-row">
    <td class="text-center align-middle" ng-bind="fieldModel.name"></td>
    <td class="text-center align-middle" ng-bind="fieldModel.template_type"></td>
    <td class="text-center align-middle" ng-bind="fieldModel.template_location"></td>
    <td class="text-center align-middle" ng-bind="fieldModel.status"></td>
    <td>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Action
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="javascript:;" ng-click="openModal()"> Edit </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="remove($event.currentTarget)"> Remove </a>
                </li>
            </ul>
        </div>
    </td>
</tr>

<!--<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="fieldModel.name" disabled />
        <span class="input-group-addon" style="cursor: pointer" data-original-title="Remove" data-toggle="tooltip" title="Edit" ng-click="openModal()">
            <i class="fa fa-edit font-blue" ></i>
        </span>
        <span class="input-group-addon" style="cursor: pointer" data-original-title="Remove" data-toggle="tooltip" title="Remove" ng-click="remove($event.currentTarget)">
            <i class="fa fa-close font-red" ></i>
        </span>
    </div>
</div>-->