<tr class="discount-row">
    <td class="text-center align-middle" ng-bind="selFieldModel[index].value | toDecimal:1"></td>
    <td class="text-center align-middle" ng-bind="selFieldModel[index] | discountType"></td>
    <td class="text-center align-middle" ng-bind="selFieldModel[index].weighting"></td>
    <td class="text-center align-middle" ng-bind="selFieldModel[index].coupon_limit"></td>
    <td class="text-center align-middle" ng-bind="selFieldModel[index] | discountStatus"></td>
    <td>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Action
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="javascript:;" ng-click="setActive()"> Set as {{selFieldModel[index] | discountStatus:true}} </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="openModal(selFieldModel[index])"> Edit </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="remove($event.currentTarget, selFieldModel[index])"> Remove </a>
                </li>
            </ul>
        </div>
    </td>
</tr>