<div id="discount-modal-edit" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Discount</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="form-body">
                        <div class="form-group">
                            <label for="name">Value</label>
                            <input type="number" id="name" string-to-number class="form-control" ng-model="$parent.vm.selDiscountObj.value" />
                        </div>

                        <div class="form-group">
                            <label for="name">Weighting</label>
                            <input type="number" id="name" string-to-number class="form-control" ng-model="$parent.vm.selDiscountObj.weighting" />
                        </div>

                        <!--<div class="form-group">
                            <label for="name">Coupon count</label>
                            <input type="number" id="name" string-to-number class="form-control" ng-model="$parent.vm.selDiscountObj.coupon_count" />
                        </div>-->

                        <div class="form-group">
                            <label for="name">Coupon limit</label>
                            <input type="number" id="name" string-to-number class="form-control" ng-model="$parent.vm.selDiscountObj.coupon_limit" />
                        </div>

                        <div class="form-group">
                            <label for="">Value Type</label>
                            <select name="" id="" class="form-control" ng-model="$parent.vm.selDiscountObj.value_type">
                                <option value="percentage">Percentage</option>
                                <option value="unit">Unit</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Discount Type</label>
                            <select name="" id="" class="form-control" ng-model="$parent.vm.selDiscountObj.discount_type">
                                <option value="standard">Standard</option>
                                <option value="early_bird">Early Bird</option>
                            </select>
                        </div>

                        <!--<div class="form-group">
                            <label for="name">Coupons Text</label>
                            <input type="file" id="name" class="form-control" ng-model="$parent.vm.selDiscountObj.coupons_txt" />
                        </div>

                        <div class="form-group">
                            <label for="name">Coupons Expire At</label>
                            <input type="text" id="name" class="form-control date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d" size="16" ng-model="$parent.vm.selDiscountObj.coupons_file_expire_at" />
                        </div>-->

                        <div class="form-group">
                            <label for="name">Status</label>
                            <select name="" id="" class="form-control" ng-change="checkActiveDiscount()" ng-model="$parent.vm.selDiscountObj.status">
                                <option value="active">Active</option>
                                <option value="suspended">Suspended</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="statusChange()">Close</button>
            </div>
        </div>
    </div>
</div>