<!-- /.row -->
<div class="row mb-2">
    <div class="col-lg-12">
        <ng-include src="'/app/common/back.html'"></ng-include>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> {{ vm.mode }} Deal</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="alert {{vm.response.success}}" id="msg-info" ng-if="!vm.isDone">
                    <strong>{{vm.response.alert}}</strong> {{vm.response.msg}}
                </div>
                <form role="form" id="deal-form" ng-submit="vm.submitAction()" novalidate="novalidate">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Select a Brand</label>
                                    <a ui-sref="dashboard.brand.add" ng-if="!vm.brands">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add Brand</button>
                                    </a>
                                    <select name="" id="" class="form-control" ng-if="vm.brands" ng-model="vm.form.brand_id" ng-init="vm.form.brand_id = vm.default.uid" ng-options="brand.uid as brand.name for brand in vm.brands" required>
                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter name" ng-model="vm.form.name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Link</label>
                            <input type="url" class="form-control" placeholder="Enter name" ng-model="vm.form.link" required />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="5" ng-model="vm.form.description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control input-small" placeholder="Enter price" string-to-number ng-model="vm.form.price" ng-change="vm.priceFormat()" required />
                        </div>
                        <div class="form-group">
                            <label>Amazon Rating</label>
                            <input type="number" class="form-control input-small" placeholder="Enter rating" ng-model="vm.form.amazon_rating" required />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Starting date</label>
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                        <input type="text" class="form-control input-medium date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d" size="16" ng-model="vm.form.date_starts" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Time</label>
                                    <div class="input-icon">
                                        <i class="fa fa-clock-o"></i>
                                        <input type="text" ng-if="vm.mode == 'Edit'" class="form-control timepicker timepicker-default" data-provide="timepicker" data-default-time="false" ng-model="vm.form.time_starts" />
                                        <input type="text" ng-if="vm.mode == 'Add'" class="form-control timepicker timepicker-default" data-provide="timepicker" ng-model="vm.form.time_starts" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ending date</label>
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                        <input type="text" class="form-control input-medium date date-picker" size="16" data-date-format="yyyy-mm-dd" data-date-start-date="+0d" ng-model="vm.form.date_ends" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Time</label>
                                    <div class="input-icon">
                                        <i class="fa fa-clock-o"></i>
                                        <input type="text" ng-if="vm.mode == 'Edit'" class="form-control timepicker timepicker-default" data-provide="timepicker" data-default-time="false" ng-model="vm.form.time_ends" />
                                        <input type="text" ng-if="vm.mode == 'Add'" class="form-control timepicker timepicker-default" data-provide="timepicker" ng-model="vm.form.time_ends" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Highlights-->
                        <hr />
                        <h4>Highlights</h4>
                        <add-highlight field-model="vm.form.highlights" form-mode="vm.mode" highlights-data="vm.highlights">
                        </add-highlight>

                        <!--Templates-->
                        <hr />
                        <h4>Templates</h4>
                        <add-template field-model="vm.form.templates" form-mode="vm.mode" templates-data="vm.templates">
                        </add-template>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default" ladda="!vm.isDone" data-spinner-color="#000000">{{ vm.mode }}</button>
                                <button type="button" ui-sref="{{vm.prevState.name}}" class="btn btn-default">Back</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<template-modal field-model="vm.form.highlights" form-mode="vm.mode"></template-modal>
<template-modal-edit field-model="vm.form.highlights" form-mode="vm.mode"></template-modal-edit>