<!-- /.row -->
<div class="row mb-2">
    <div class="col-lg-12">
        <ng-include src="'/app/common/back.html'"></ng-include>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> {{ vm.deal.name }} </span>
                </div>
                <div class="actions">
                    <a ui-sref="dashboard.deal.edit({id:vm.dealId})" class="btn btn-outline btn-circle btn-sm purple">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3">Associated Brand</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.brand.name"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Slug</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.slug"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Link</label>
                            <div class="col-md-9">
                                <p>
                                    <a href="{{vm.deal.link}}" ng-bind="vm.deal.link"></a>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Description</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.description"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Price</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.price | toCurrencyFormat"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Amazon Rating</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.amazon_rating"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Starts At</label>
                            <div class="col-md-9">
                                <p>{{ vm.deal.date_start.date }} {{ vm.deal.date_start.time }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Ends At</label>
                            <div class="col-md-9">
                                <p>{{ vm.deal.date_end.date }} {{ vm.deal.date_end.time }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Highlights</label>
                            <div class="col-md-9" ng-if="vm.highlights.length == 0">
                                No Highlights
                            </div>
                            <div class="col-md-9" ng-if="vm.highlights">
                                <ul class="pl-4">
                                    <li ng-repeat="h in vm.highlights" ng-bind="h.title"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Templates</label>
                            <div class="col-md-9" ng-if="vm.templates.length == 0">
                                No Templates
                            </div>
                            <div class="col-md-9" ng-if="vm.templates">
                                <ul class="pl-4">
                                    <li ng-repeat="t in vm.templates" ng-bind="t.name"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<hr>
<h4>Uploaded Images</h4>
<div class="mt-element-overlay mb-3" ng-if="!(vm.images | isEmpty)">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 image-view-container" ng-repeat="image in vm.images">

            <div class="mt-overlay-1 mt-scroll-up">
                <img ng-src="{{image.standard_url}}" alt="{{image.description}}" id="{{image.uid}}" />
                <div class="mt-overlay">
                    <ul class="mt-info">
                        <li>
                            <a class="btn default btn-outline" href="javascript:;" data-toggle="tooltip" title="Show Description" ng-click="vm.openEditImageModal($event.currentTarget)">
                                <i class="fa fa-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <image-form form-image="image" insert-img="vm.blankFn" form-mode="View" no-btn="true"></image-form>

        </div>
    </div>
</div>
<div ng-if="vm.images | isEmpty">
    <h4>No Uploaded images</h4>
</div>
<hr>
<div class="row">
    <div class="col-lg-8">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-ticket"></i>Standard Discounts
                </div>
                <div class="tools">
                    <span>$ = Unit</span><span class="ml-4">% = Percentage</span>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%"> Value </th>
                            <th> Type </th>
                            <th class="numeric"> Weighting </th>
                            <th class="numeric"> Coupon Limit </th>
                            <th class="numeric"> Status </th>
                        </tr>
                    </thead>
                    <tbody ng-if="vm.hasStandardDiscounts()">
                        <tr ng-repeat="discount in vm.standardDiscounts">
                            <td class="text-center" ng-bind="discount.value"></td>
                            <td class="text-center" ng-bind="discount | discountType"></td>
                            <td class="text-center" ng-bind="discount.weighting"></td>
                            <td class="text-center" ng-bind="discount.coupon_limit"></td>
                            <td class="text-center" ng-bind="discount | discountStatus"></td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!vm.hasStandardDiscounts()">
                        <tr>
                            <td colspan="5">
                                <h4 class="text-center">No Standard Discounts</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-8">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-ticket"></i>Early Bird Discounts
                </div>
                <div class="tools">
                    <span>$ = Unit</span><span class="ml-4">% = Percentage</span>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%"> Value </th>
                            <th> Type </th>
                            <th class="numeric"> Weighting </th>
                            <th class="numeric"> Coupon Limit </th>
                            <th class="numeric"> Status </th>
                        </tr>
                    </thead>
                    <tbody ng-if="vm.hasEarlybirdDiscounts()">
                        <tr ng-repeat="discount in vm.earlyBirdDiscounts">
                            <td class="text-center" ng-bind="discount.value"></td>
                            <td class="text-center" ng-bind="discount | discountType"></td>
                            <td class="text-center" ng-bind="discount.weighting"></td>
                            <td class="text-center" ng-bind="discount.coupon_limit"></td>
                            <td class="text-center" ng-bind="discount | discountStatus"></td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!vm.hasEarlybirdDiscounts()">
                        <tr>
                            <td colspan="5">
                                <h4 class="text-center">No Early Bird Discounts</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->