.dashboard-items .container {
    padding: 5px;
}

.dashboard-items .container .content {
    width: 100%;
    height: 100%;
    border-radius: 4px !important;
    position: relative;
    overflow: hidden;
}

.dashboard-items .container .content .img-icon {
    width: auto;
    height: 100%;
    position: absolute;
    left: -20px;
    bottom: -20px;
}

.dashboard-items .container .content .label-container {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}

.dashboard-items .container .content .label-container .label-number {
    color: #FFFFFF;
    text-align: right;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}

.dashboard-items .container .content .label-container .label-desc {
    color: #FFFFFF;
    text-align: right;
    letter-spacing: 0;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 300;
}

.dashboard-items .container .reg-user-count {
    background-color: rgba(255,0,0,.7);
}

.dashboard-items .container .reg-vend-count {
    background-color: rgba(0,191,255,.7);
}

.dashboard-items .container .clm-coup-count {
    background-color: rgba(128,0,128,.7);
}

.dashboard-items .container .clm-coup-value {
    background-color: rgba(255,127,80,.7);
}

.dashboard-items .container .run-deal-count {
    background-color: rgba(255,105,180,.7);
}

/* for extra small screens */
@media (max-width: 544px) {
    .dashboard-items .container {
        height: 120px;
    }

    .dashboard-items .container .content .label-container .label-number {
        padding-top: 20px;
        font-size: 28px;
        line-height: 30px;
    }

    .dashboard-items .container .content .label-container .label-desc {
        font-size: 12px;
    }
}

/* for other screens */
@media (min-width: 544px) {
    .dashboard-items .container {
        height: 140px;
    }

    .dashboard-items .container .content .label-container .label-number {
        padding-top: 30px;
        font-size: 32px;
        line-height: 34px;
    }

    .dashboard-items .container .content .label-container .label-desc {
        font-size: 14px;
    }
}
